<!-- Comment form -->
<div id="comment-form">
	<div class="page-header">
		<h4><span class="glyphicon glyphicon-pencil"></span> Post a comment</h4>
		<form action="#" method="post" class="form-horizontal">
			<!-- Comment information -->
			<div class="form-group">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<p>Extra information about the comment being edited/submitted here</p>
				</div>
			</div>
			<!-- Comment -->
			<div class="form-group">
				<label for="text" class="col-sm-2 control-label">Comment</label>
				<div class="col-sm-8">
					<textarea name="text" class="form-control comment-text-field" rows="10"></textarea>
				</div>
			</div>
			<!-- Submit/Update -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary">Post comment</button>
				</div>
			</div>
		</form>
	</div>
</div>