<form action="{% url 'home:home' %}" method="post" class="form-horizontal">
	{% csrf_token %}
	<div class="{% if form.text.errors %}has-error{% endif %}">
		<textarea name="text" class="form-control paste-text-field {% if form.text.errors %}has-error{% endif %}" rows="15"></textarea>
	</div>
	<br>
	<!-- Tabs -->
	<div role="tabpanel">
		{% include "home/submit_paste_tabs.html" %}
			<!-- Submit -->
			<div class="form-group form-actions">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary">Submit paste</button>
				</div>
			</div>
		</div>
	</div>
</form>