{% load humanize %}
{% if favorites %}
<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Age</th>
		</tr>
	</thead>
	<tbody>
		{% for paste in favorites %}
		<tr>
			<td><a href="{% url "show_paste" paste.char_id %}">{{ paste.title|truncatechars:32 }}</a></td>
			<td>{{ paste.submitted|naturaltime }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% if favorites.count < total_favorite_count %}
<a class="btn btn-primary" href="{% url 'users:favorites' profile_username %}">All favorites</a>
{% endif %}
{% else %}
	{% if profile_username == user.get_username %}
	<div class="alert alert-info">
		<strong>No favorites added</strong><br>
		You haven't added any favorites yet.
	</div>
	{% else %}
	<div class="alert alert-info">
		<strong>No favorites added</strong><br>
		This user hasn't added any favorites yet.
	</div>
	{% endif %}
{% endif %}