{% extends "users/profile/profile.html" %}

{% block profile_content %}
<div class="col-md-10">
	{% if favorites %}
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Added</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for favorite in favorites %}
			<tr>
				<td><a href="{% url "show_paste" favorite.paste.char_id %}">{{ favorite.paste.title|truncatechars:128 }}</a></td>
				<td>{{ paste.added }}</td>
				<td>
					<form action="{% url "users:remove_favorite" %}" method="post">
						{% csrf_token %}
						<input type="hidden" name="favorite_id" value="{{ favorite.id }}"></input>
						<input type="hidden" name="page" value="{{ current_page }}"></input>
						<button class="btn btn-warning btn-xs" href="{% url "users:remove_favorite" %}"><span class="glyphicon glyphicon-remove"></span> Remove</button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include "pagination.html" with destination="users:favorites" url_arg=profile_user.get_username %}
	{% else %}
		{% if profile_user.get_username == user.get_username %}
		<div class="alert alert-info">
			<strong>No favorites added</strong><br>
			You haven't added any favorites yet.
		</div>
		{% else %}
		<div class="alert alert-info">
			<strong>No favorites added</strong><br>
			This user hasn't added any favorites yet.
		</div>
		{% endif %}
	{% endif %}
</div>
{% endblock %}