{% extends "base.html" %}

{% block title %}Report: {{ paste.title }} - pastebin-django{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
		        <h1>Report: {{ paste.title }}</h1>
		    </div>
			<div class="alert alert-danger">
				You are reporting the paste {{ paste.title }}.
			</div>
			<form action="{% url 'pastes:report_paste' paste.char_id %}" class="form-horizontal" role="form" method="post">
		        {% csrf_token %}
		        {% include "form.html" %}
		        <div class="form-group">
		            <div class="col-sm-offset-2 col-sm-10">
		                <button type="submit" class="btn btn-danger">Report paste</button>
		            </div>
		        </div>
		    </form>
		</div>
	</div>
</div>
{% endblock %}