{# A template that allows certain Bootstrap forms to be implemented more easily #}
{% load widget_tweaks %}
{% for field in form %}
{% if field.errors %}
<div class="form-group has-error">
{% else %}
<div class="form-group">
{% endif %}
    <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-4">
                {{ field|attr:'class:form-control' }}
            </div>
        </div>
        {% for error in field.errors %}
        <p class="help-block"><b style="color: red;">{{ error|escape }}</b></p>
        {% endfor %}
        {% if field.help_text %}
        <p class="help-block">{{ field.help_text }}</p>
        {% endif %}
    </div>
</div>
{% endfor %}