{% load lineage %}
{% load extra_tags %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
	    <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home:home' %}">pastebin-django</a>
	    </div>
	    <div class="collapse navbar-collapse">
	    	<ul class="nav navbar-nav">
		        <li><a href="{% url 'home:home' %}">Home</a></li>
		        <li class="{% ancestor "latest_pastes" %}"><a href="{% url 'latest_pastes' %}">Latest pastes</a>
		        <li><a href="{% url 'random_paste' %}">Random</a></li>
		    </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="dropdown {% ancestor "users:profile" user.get_username %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b><span class="glyphicon glyphicon-user"></span> {{ user.get_username }}</b> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    	<li><a href="{% url 'users:profile' user.get_username %}"><span class="glyphicon glyphicon-user"></span> {{ user.get_username }}</a></li>
                    	<li class="divider"></li>
                    	<li><a href="{% url 'users:pastes' user.get_username %}"><span class="glyphicon glyphicon-file"></span> My pastes</a></li>
                    	<li><a href="{% url 'users:favorites' user.get_username %}"><span class="glyphicon glyphicon-star"></span> My favorites</a></li>
                    	<li class="divider"></li>
                    	<li><a href="{% url 'users:change_password' user.get_username %}"><span class="glyphicon glyphicon-lock"></span> Change password</a></li>
                    	<li class="divider"></li>
                    	{% if user.is_staff %}
                    	<li><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-briefcase"></span> Admin</a></li>
                    	<li class="{% if request.unread_paste_report_count > 0 %}bg-danger{% endif %}"><a href="{% url 'admin:pastes_pastereport_changelist' %}"><span class="glyphicon glyphicon-inbox"></span> {{ request.unread_paste_report_count }} paste report(s)</a></li>
                    	<li class="divider"></li>
                    	{% endif %}
                        <li><a href="{% url 'users:logout' %}"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="{% ancestor "users:register" %}"><a href="{% url 'users:register' %}">Register</a></li>
                <li class="{% ancestor "users:login" %}"><a href="{% url 'users:login' %}">Login</a></li>
                {% endif %}
            </ul>
	    </div><!--/.nav-collapse -->
	</div>
</div>
