{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
		        <h1>Edit {{ paste.title }}</h1>
		    </div>
			<form action="{% url 'pastes:edit_paste' paste.char_id %}" class="form-horizontal" role="form" method="post">
		        {% csrf_token %}
		        <div class="{% if form.text.errors %}has-error{% endif %}">
					<textarea name="text" class="form-control paste-text-field {% if form.text.errors %}has-error{% endif %}" rows="15">{{ paste.text }}</textarea>
				</div>
				<br>
				{# Print errors related to the text field here #}
				{% if form.text.errors %}
				<div class="alert alert-danger">
					{{ form.text.errors }}
				</div>
				{% endif %}
				<div class="form-group">
		            <div class="col-sm-offset-2 col-sm-10">
		                <button type="submit" class="btn btn-primary">Update</button>
		            </div>
		        </div>
		    </form>
		</div>
	</div>
</div>
{% endblock %}