{% extends "users/profile/profile.html" %}

{% block profile_content %}
<div class="col-md-10">
	{% if pastes %}
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Uploaded</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for paste in pastes %}
			<tr>
				<td><a href="{% url "show_paste" paste.char_id %}">{{ paste.title|truncatechars:128 }}</a></td>
				<td>{{ paste.submitted }}</td>
				<td>
					<a class="btn btn-primary btn-xs" href="{% url "pastes:edit_paste" paste.char_id %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
					<a class="btn btn-danger btn-xs" href="{% url "pastes:remove_paste" paste.char_id %}"><span class="glyphicon glyphicon-remove"></span> Remove</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include "pagination.html" with destination="users:pastes" url_arg=profile_user.get_username %}
	{% else %}
		{% if profile_user.get_username == user.get_username %}
		<div class="alert alert-info">
			<strong>No pastes uploaded</strong><br>
			You haven't uploaded any pastes yet.
		</div>
		{% else %}
		<div class="alert alert-info">
			<strong>No pastes uploaded</strong><br>
			This user hasn't uploaded any pastes yet.
		</div>
		{% endif %}
	{% endif %}
</div>
{% endblock %}